aerc/accounts.conf
*~
*.pyc
user-dirs.*
xfce4/
pmbootstrap.cfg
nautilus/
Code/
QtProject.conf
Thunar/
dconf/
enchant/
evolution/
gedit/
gnome-initial-setup-done
gtk-3.0/
ibus/
keepassxc/
pulse/*.tdb
.copilot/
