[Unit]
Description=Notmuch new
Documentation=man:notmuch(1)

[Service]
Type=oneshot
ExecStart=/home/timmy/.config/notmuch/new.sh
TimeoutStopSec=120

[Install]
WantedBy=default.target
